openapi: 3.1.0
info:
  title: iCount API
  description: Unified iCount accounting and business management API. All endpoints use POST method and require authentication
    via session ID (sid) or user/pass/cid credentials.
  version: '3.0'
  contact:
    name: iCount
    url: https://www.icount.co.il
servers:
- url: https://api.icount.co.il/api/v3.php
  description: iCount API v3
tags:
- name: Accounting settings
- name: Authentication
- name: Autoinvoices for receipts
- name: Banks list
  description: '#### 🏦 Get to Know Your Banks with iCount API! 🏦

    Hey financial wizards! 🧙‍♂️✨ Whether you''re balancing the books or just need a quick peek at your banking options, our
    iCount API is here to turn that pile of bank statements into a neatly organized digital fiesta.'
- name: Billable hours reporting
- name: CRM events management
- name: CRM events/tasks reminders
- name: CRM tasks management
- name: Company information
- name: Credit-card billing
- name: Credit-card storage
- name: Currency information
- name: Customer Relations Management
- name: Customer status management
- name: Customers management
- name: Deduction types
- name: Document management
- name: Expense reporting
- name: Export data
- name: File manager
- name: Geo-coding module
- name: Israel Tax Authority (ITA) Israel Invoice regulation
  description: 'More info: https://www.gov.il/he/departments/topics/israel-invoice/govil-landing-page'
- name: Leads management
- name: Manage expense types
- name: Manage income types
- name: New account registration
- name: PayPages API
- name: Price indexation
- name: Products inventory management
- name: Project management
- name: Punchio
- name: Recurring billing
- name: Report charts data
- name: Reports
- name: Send SMS
- name: Sub account
- name: Suppliers management
- name: Support tickets (iTKT)
- name: System notifications
- name: Tags management
- name: Token management
- name: User management
- name: VAT (Value Added Tax)
- name: WebHook management
paths:
  /accounting_settings/get_sortcodes:
    post:
      summary: Get Sortcodes
      operationId: post-get_sortcodes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  api:
                    type: object
                    properties:
                      version:
                        type: integer
                      tz:
                        type: integer
                      ts:
                        type: number
                      lang:
                        type: string
                      rid:
                        type: integer
                      module:
                        type: string
                      method:
                        type: string
                  status:
                    type: boolean
                  reason:
                    type: string
                  sortcodes:
                    type: object
                    properties:
                      '0':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '1':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '2':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '3':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '4':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '5':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '6':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '7':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '8':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '9':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '10':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '11':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '12':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '13':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '14':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '15':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '16':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '17':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '18':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '19':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '20':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '21':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '22':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '23':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '24':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '25':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '26':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '27':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '28':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '29':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '30':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '31':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                      '32':
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: integer
                          name:
                            type: string
                x-examples:
                  Example 1:
                    api:
                      version: 3
                      tz: 2
                      ts: 1699281747.2287
                      lang: he
                      rid: 831706728
                      module: accounting_settings
                      method: get_sortcodes
                    status: true
                    reason: OK
                    sortcodes:
                      '0':
                        id: 0
                        code: 910
                        name: עלות המכר
                      '1':
                        id: 1
                        code: 920
                        name: הוצאות הפעלה
                      '2':
                        id: 2
                        code: 930
                        name: הוצאות מכירה
                      '3':
                        id: 3
                        code: 940
                        name: הוצאות משכורת
                      '4':
                        id: 4
                        code: 950
                        name: הוצאות הנהלה וכלליות
                      '5':
                        id: 5
                        code: 960
                        name: הוצאות רכב
                      '6':
                        id: 6
                        code: 970
                        name: הוצאות מימון
                      '7':
                        id: 7
                        code: 0
                        name: שונות
                      '8':
                        id: 8
                        code: 915
                        name: הוצאות יבוא
                      '9':
                        id: 9
                        code: 980
                        name: נסיעות לחו"ל
                      '10':
                        id: 10
                        code: 990
                        name: הוצאות אחרות לתאום
                      '11':
                        id: 11
                        code: 700
                        name: רכוש קבוע ושוטף
                      '12':
                        id: 12
                        code: 100
                        name: קופות ובנקים
                      '13':
                        id: 13
                        code: 101
                        name: קופות
                      '14':
                        id: 14
                        code: 110
                        name: בנקים
                      '15':
                        id: 15
                        code: 200
                        name: לקוחות
                      '16':
                        id: 16
                        code: 300
                        name: ספקים
                      '17':
                        id: 17
                        code: 400
                        name: עובדים
                      '18':
                        id: 18
                        code: 500
                        name: מוסדות
                      '19':
                        id: 19
                        code: 501
                        name: מוסדות מס
                      '20':
                        id: 20
                        code: 505
                        name: מוסדות שונים
                      '21':
                        id: 21
                        code: 550
                        name: מע"מ
                      '22':
                        id: 22
                        code: 600
                        name: הון ועודפים
                      '23':
                        id: 23
                        code: 650
                        name: בעלי מניות
                      '24':
                        id: 24
                        code: 610
                        name: הון
                      '25':
                        id: 25
                        code: 660
                        name: עודפים
                      '26':
                        id: 26
                        code: 710
                        name: רכוש קבוע
                      '27':
                        id: 27
                        code: 720
                        name: רכוש שוטף
                      '28':
                        id: 28
                        code: 800
                        name: הכנסות
                      '29':
                        id: 29
                        code: 810
                        name: הכנסות פטורות ממע"מ
                      '30':
                        id: 30
                        code: 820
                        name: הכנסות חייבות במע"מ
                      '31':
                        id: 31
                        code: 900
                        name: הוצאות
                      '32':
                        id: 32
                        code: 120
                        name: השקעות
              examples:
                Example 1:
                  value:
                    api:
                      version: 3
                      tz: 2
                      ts: 1699281747.2287
                      lang: he
                      rid: 831706728
                      module: accounting_settings
                      method: get_sortcodes
                    status: true
                    reason: OK
                    sortcodes:
                      '0':
                        id: 0
                        code: 910
                        name: עלות המכר
                      '1':
                        id: 1
                        code: 920
                        name: הוצאות הפעלה
                      '2':
                        id: 2
                        code: 930
                        name: הוצאות מכירה
                      '3':
                        id: 3
                        code: 940
                        name: הוצאות משכורת
                      '4':
                        id: 4
                        code: 950
                        name: הוצאות הנהלה וכלליות
                      '5':
                        id: 5
                        code: 960
                        name: הוצאות רכב
                      '6':
                        id: 6
                        code: 970
                        name: הוצאות מימון
                      '7':
                        id: 7
                        code: 0
                        name: שונות
                      '8':
                        id: 8
                        code: 915
                        name: הוצאות יבוא
                      '9':
                        id: 9
                        code: 980
                        name: נסיעות לחו"ל
                      '10':
                        id: 10
                        code: 990
                        name: הוצאות אחרות לתאום
                      '11':
                        id: 11
                        code: 700
                        name: רכוש קבוע ושוטף
                      '12':
                        id: 12
                        code: 100
                        name: קופות ובנקים
                      '13':
                        id: 13
                        code: 101
                        name: קופות
                      '14':
                        id: 14
                        code: 110
                        name: בנקים
                      '15':
                        id: 15
                        code: 200
                        name: לקוחות
                      '16':
                        id: 16
                        code: 300
                        name: ספקים
                      '17':
                        id: 17
                        code: 400
                        name: עובדים
                      '18':
                        id: 18
                        code: 500
                        name: מוסדות
                      '19':
                        id: 19
                        code: 501
                        name: מוסדות מס
                      '20':
                        id: 20
                        code: 505
                        name: מוסדות שונים
                      '21':
                        id: 21
                        code: 550
                        name: מע"מ
                      '22':
                        id: 22
                        code: 600
                        name: הון ועודפים
                      '23':
                        id: 23
                        code: 650
                        name: בעלי מניות
                      '24':
                        id: 24
                        code: 610
                        name: הון
                      '25':
                        id: 25
                        code: 660
                        name: עודפים
                      '26':
                        id: 26
                        code: 710
                        name: רכוש קבוע
                      '27':
                        id: 27
                        code: 720
                        name: רכוש שוטף
                      '28':
                        id: 28
                        code: 800
                        name: הכנסות
                      '29':
                        id: 29
                        code: 810
                        name: הכנסות פטורות ממע"מ
                      '30':
                        id: 30
                        code: 820
                        name: הכנסות חייבות במע"מ
                      '31':
                        id: 31
                        code: 900
                        name: הוצאות
                      '32':
                        id: 32
                        code: 120
                        name: השקעות
      x-stoplight:
        id: zvrbr8v2t2v3y
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: npoly1ly5jo1j
                  description: Session ID
                  example: 1234e19b2c02c922612458
                cid:
                  type: string
                  x-stoplight:
                    id: g7ohhm8d7rdzx
                  description: Company identifier
                  example: MyCompanyID
                user:
                  type: string
                  x-stoplight:
                    id: djy8dryphfvff
                  description: Username
                  example: MyUser
                pass:
                  type: string
                  x-stoplight:
                    id: tbnrnpp0zvfl6
                  description: Password
                  example: MyPassword
                list_type:
                  type: string
                  x-stoplight:
                    id: 7jpagcsxoo6i9
                  description: 'Return list type (object|array).

                    Default (object)'
            examples: {}
      tags:
      - Accounting settings
  /accounting_settings/get_main_accounts:
    post:
      summary: Get Main Accounts
      operationId: post-get_main_accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example 1:
                  value:
                    api:
                      version: 3
                      tz: 2
                      ts: 1699282093.2645
                      lang: he
                      rid: 831711849
                      module: accounting_settings
                      method: get_main_accounts
                    status: true
                    reason: OK
                    main_accounts:
                      '1': ללא
                      '2': לקוחות
                      '3': ספקים
                      '4': הוצאות
                      '5': בנקים
                      '6': קופות
                      '7': הכנסות חייבות במע"מ
                      '8': הכנסות פטורות ממע"מ
                      '9': מימון/ריבית
                      '10': הכנסות חייבות במע"מ ופטורות ממקדמות
                      '11': הכנסות פטורות ממע"מ ופטורות ממקדמות
                      '12': מע"מ עסקאות
                      '13': מע"מ תשומות
                      '14': מע"מ תשומות לנכסים
                      '15': מע"מ חו"ז
                      '16': עסקאות חייבות שדווחו
                      '17': עסקאות פטורות שדווחו
                      '18': נכוי במקור מספקים - שרותים ונכסים
                      '19': ניכוי במקור מספקים - סופרים
                      '20': ניכוי במקור מספקים - ריבית
                      '21': ניכוי במקור מספקים - ביטוח
                      '22': ניכוי במקור ע"י לקוחות
                      '23': מקדמות למס הכנסה
                      '24': יתרת פתיחה
                      '25': לקוחות וספקים
                      '26': הכנסות חשבונית עצמית
                      '27': הפרשי שער/תרגום
                      '28': עמלות בנק
                      '29': חשבונות חסומים
                      '30': חו"ז - חייבים וזכאים
                      '31': עודפים
                      '32': 'נ.במקור - תשלומים לתושב חוץ: ע"י החברה 0%'
                      '33': 'נ.במקור - תשלומים לתושב חוץ: ע"י החברה 0-25%'
                      '34': 'נ.במקור - תשלומים לתושב חוץ: ע"י החברה מעל 25%'
                      '35': 'נ.במקור - תשלומים לתושב חוץ: ע"י הבנק 0%'
                      '36': 'נ.במקור - תשלומים לתושב חוץ: ע"י הבנק 0-25%'
                      '37': 'נ.במקור - תשלומים לתושב חוץ: ע"י הבנק מעל 25%'
                      '38': נ.במקור - תשלום שלא כדין מקופת גמל
                      '39': נ.במקור - החזר תשלום למעביד מקופת גמל לפיצויים
                      '40': נ.במקור - תש' משכירות מקרקעין שניתן לקבוע כהוצאה
                      '41': נ.במקור - תשלום מקרן השתלמות לעצמאי
                      '42': נ.במקור - רווח מהימורים והגרלות
                      '43': הכנסות פטורות שאינן מדווחות למע"מ
                      '44': נ.במקור - תשלום דיבידנד
                      '45': רכוש קבוע
                      '46': קופות שיקים
                      '47': קופות מזומן
                      '48': קופת פקדון
                      '49': קופות כרטיסי אשראי
      x-stoplight:
        id: cvxcbpaxy40sj
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: m5e09ro1j1ve1
                  description: Session ID
                  example: 1234e19b2c02c922612458
                cid:
                  type: string
                  x-stoplight:
                    id: k09vjray62w5e
                  description: Company identifier
                  example: MyCompanyID
                user:
                  type: string
                  x-stoplight:
                    id: qn2fho8yi7eao
                  description: Username
                  example: MyUser
                pass:
                  type: string
                  x-stoplight:
                    id: kl5jp97jlxply
                  description: Password
                  example: MyPassword
                list_type:
                  type: string
                  x-stoplight:
                    id: 2vabjn1enti5m
                  description: 'Return list type (object|array).

                    Default (object)'
      tags:
      - Accounting settings
  /auth/login:
    post:
      summary: Start session
      operationId: post-login
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    api:
                      version: 3
                      tz: 2
                      ts: 1699275163.1748
                      lang: he
                      rid: 831608358
                      module: auth
                      method: login
                    status: true
                    reason: OK
                    sid: 6548e19b2c02c922612458
                    cid: liavy
                    user: api
                    user_id: 3
                    user_info:
                      user_id: 3
                      username: api
                      email: liavapi@icount.co.il
                      phone: ''
                      mobile: ''
                      first_name: Liav
                      last_name: Liav
                      full_name: Liav Liav
                      first_name_he: Liav
                      last_name_he: Liav
                      full_name_he: Liav Liav
                      first_name_en: API
                      last_name_en: API
                      full_name_en: API API
                      profile_image: ''
                      priv_level: 4
                      job_type_id: 0
                      priv_name: מנהל
                      intercom_user_id: '110144163.3'
                      intercom_user_hash: 205f9957e7c2667c1f2a69e6de79819435d495c58271df126c5672f1835c8e45
                      job_type_name: לא מוגדר / כללי
                      job_type_hours:
                        '100': 32400
                        '125': 0
                        '150': 0
                        '175': 0
                        '200': 0
                    company_info:
                      about: ''
                      addressCity: ''
                      addressCity_en: ''
                      addressCity_he: ''
                      addressNum: ''
                      addressState: ''
                      addressStreet: ''
                      addressStreet_en: ''
                      addressStreet_he: ''
                      addressZip: '0'
                      businessName: LIAV TEST
                      businessNameSubTitle: ''
                      businessNameSubTitle_en: ''
                      businessNameSubTitle_he: ''
                      businessName_en: ''
                      businessName_he: LIAV TEST
                      businessType: '1'
                      businessTypeAbbr: ע.מ.
                      businessTypeAbbr_en: VAT ID
                      businessTypeAbbr_he: ע.מ.
                      businessTypeName: עצמאי / עוסק מורשה
                      businessTypeName_en: Sole Proprietor
                      businessTypeName_he: עצמאי / עוסק מורשה
                      country_en: ''
                      ecosystem: il
                      email: liavy@icount.co.il
                      facebook: ''
                      fax: ''
                      logo: null
                      mobile: ''
                      operating_hours: ''
                      phone: ''
                      site: ''
                      telegram: ''
                      twitter: ''
                      updated: '2023-10-01 15:30:43'
                      updated_by: '1'
                      vat_id: '208915843'
                      youtube: ''
                      start_date: '2023-10-01'
                      expiry_date: '2024-12-31'
                      is_trial: true
                      require_billing: true
                      is_non_profit: false
                      is_tax_exempt: false
                      is_vat_exempt: false
                      no_vat_business: false
                      system_type: std
                      is_express: false
                      is_omb: false
                      icon: null
              examples:
                Example 1:
                  value:
                    api:
                      version: 3
                      tz: 2
                      ts: 1700143271.9638
                      lang: he
                      rid: 838866177
                      module: auth
                      method: login
                    status: true
                    reason: OK
                    sid: 655610a1ec910346010129
                    cid: icount
                    user: api
                    user_id: 3
                    user_info:
                      user_id: 3
                      username: api
                      email: api@icount.co.il
                      phone: ''
                      mobile: ''
                      first_name: API
                      last_name: iCount
                      full_name: iCount API
                      first_name_he: אייקאונט
                      last_name_he: מערכות
                      full_name_he: אייקאונט מערכות
                      first_name_en: API
                      last_name_en: iCount
                      full_name_en: iCount API
                      profile_image: ''
                      priv_level: 4
                      job_type_id: 0
                      priv_name: מנהל
                      intercom_user_id: '110645163.3'
                      intercom_user_hash: 205aff57e7c2667c1f2a69e6de714444d495c58271df126c5672f1835c8e45
                      job_type_name: לא מוגדר / כללי
                      job_type_hours:
                        '100': 32400
                        '125': 0
                        '150': 0
                        '175': 0
                        '200': 0
      x-stoplight:
        id: iweg9ar3xqpfu
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cid:
                  type: string
                  x-stoplight:
                    id: 3fjgng9ix4q08
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: 9qjibobgdcgy4
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: vkbb6ixbv95qk
                  description: Password
                require_module:
                  x-stoplight:
                    id: z2hybuwsrrjac
                  description: Require specific module access
                  type: string
                require_priv:
                  type: number
                  x-stoplight:
                    id: 3kpn4w2v6g6m3
                  description: Require privilege level
                  format: float
                get_company_info:
                  type: boolean
                  x-stoplight:
                    id: wh20w3owk0z0i
                  description: Get company information
                get_settings:
                  type: boolean
                  x-stoplight:
                    id: sb0osyq8tvuvo
                  description: Get company settings as well
                get_bank_accounts:
                  type: boolean
                  x-stoplight:
                    id: m7pglmeitaq7u
                  description: Get company bank accounts list
                list_type:
                  type: string
                  x-stoplight:
                    id: 2zgtx8o17et4y
                  description: List type (array|object).
              required:
              - cid
              - user
              - pass
            examples:
              Example 1:
                value:
                  cid: companyname
                  user: username
                  pass: password
        description: A session ID remains valid for 20 minutes from the last request—each new request resets the expiration
          timer.
      tags:
      - Authentication
  /auth/logout:
    post:
      summary: Close session
      operationId: post-logout
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example 1:
                  value:
                    api:
                      version: 3
                      tz: 2
                      ts: 1700144931.6464
                      lang: he
                      rid: 811112851
                      module: auth
                      method: logout
                    status: true
                    reason: BYE
      x-stoplight:
        id: j7lfsfv5agmbz
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: boolean
                  x-stoplight:
                    id: 1l3mr73yz0801
                  description: Operation status
                reason:
                  type: string
                  x-stoplight:
                    id: d9mnjuqes344d
                  description: Error code
                error_description:
                  type: string
                  x-stoplight:
                    id: riq7vqfglzd4v
                  description: Short error descripion
                error_details:
                  type: array
                  x-stoplight:
                    id: nnwfy42va0jzx
                  description: Detailed error messages list
                  items:
                    x-stoplight:
                      id: lf8eznn6qp6zh
                    type: string
              required:
              - status
      tags:
      - Authentication
  /auth/info:
    post:
      summary: Get auth session details
      operationId: post-info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example 1:
                  value:
                    api:
                      version: 3
                      tz: 2
                      ts: 17005554725.0502
                      lang: he
                      rid: 8384440709
                      module: auth
                      method: info
                    status: true
                    reason: OK
                    sid: '654444431062631606'
                    cid: icount
                    user: api
                    user_id: 3
                    user_info:
                      user_id: 3
                      username: api
                      email: api@icount.co.il
                      phone: ''
                      mobile: ''
                      first_name: iCount
                      last_name: API
                      full_name: iCount API
                      first_name_he: iCount
                      last_name_he: Hebrew
                      full_name_he: iCount Hebrew
                      first_name_en: iCount
                      last_name_en: English
                      full_name_en: iCount English
                      profile_image: ''
                      priv_level: 4
                      job_type_id: 0
                      priv_name: מנהל
                      intercom_user_id: '110444163.3'
                      intercom_user_hash: 213f9957e7gagg4g9419435d495c58271df126c5672f1835c14
                      job_type_name: לא מוגדר / כללי
                      job_type_hours:
                        '100': 32400
                        '125': 0
                        '150': 0
                        '175': 0
                        '200': 0
      x-stoplight:
        id: d7u4t41xzzu6d
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                get_company_info:
                  type: boolean
                  x-stoplight:
                    id: mmkyvg7cj2wi4
                  description: Get company information
                get_settings:
                  type: boolean
                  x-stoplight:
                    id: 19dqe59i801d1
                  description: Get company settings as well
                get_bank_accounts:
                  type: boolean
                  x-stoplight:
                    id: dz3i0i7s4z1sq
                  description: Get company bank accounts list
                list_type:
                  type: string
                  x-stoplight:
                    id: ts16ahargjvkc
                  description: List type (array|object).
            examples:
              Example 1:
                value:
                  get_company_info: true
                  get_settings: true
                  get_bank_accounts: true
                  list_type: string
      tags:
      - Authentication
  /autoinvoice/search:
    post:
      summary: Search autoinvoices
      operationId: post-search
      responses:
        '200':
          description: OK
      x-stoplight:
        id: dcnvki9ch58jk
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: vbydrsamz49wj
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: 6u71h15pyf41b
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: mnrnydg8xdbs8
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: 9hxpgounquanx
                  description: Password
                autoinvoice_type:
                  type: string
                  x-stoplight:
                    id: 751cfflin22ll
                  description: Autoinvoice type (ch for cheques / cc for credit-card)
                autoinvoice_id:
                  type: integer
                  x-stoplight:
                    id: sxnf8qktxwwdt
                  description: Autoinvoice ID
                receiptnumber:
                  type: integer
                  x-stoplight:
                    id: 0ecu432vbuxln
                  description: Receipt number
                date2issue:
                  type: string
                  x-stoplight:
                    id: aaht6yr08jckp
                  description: Date to issue (specific date)
                  format: date
                start_date2issue:
                  type: string
                  x-stoplight:
                    id: 32nwm5cjg1j73
                  description: Date to issue range start
                  format: date
                end_date2issue:
                  type: string
                  x-stoplight:
                    id: 1hjzrgybq1lke
                  description: Date to issue range end
                  format: date
                show_issued:
                  type: boolean
                  x-stoplight:
                    id: qjdtn6hac130k
                  description: Show issued autoinvoices?
                  default: true
                show_pending:
                  type: boolean
                  x-stoplight:
                    id: zol158fj52j04
                  description: Show pending autoinvoices?
                  default: true
                show_cancelled:
                  type: boolean
                  x-stoplight:
                    id: ezx1nr9cta076
                  description: Show cancelled autoinvoices?
                  default: false
      tags:
      - Autoinvoices for receipts
  /autoinvoice/info:
    post:
      summary: Get autoinvoice info
      operationId: post-info
      responses:
        '200':
          description: OK
      x-stoplight:
        id: cvdaodzn7kmhk
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: ukxsf6oxywblt
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: nk0qomqrdmqyg
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: x4zaqxj78qfmf
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: dt74zjf9ij894
                  description: Password
                autoinvoice_type:
                  type: string
                  x-stoplight:
                    id: 8kpjz0phhqo3r
                  description: Autoinvoice type (ch for cheques|cc for credit-card)
                autoinvoice_id:
                  type: integer
                  x-stoplight:
                    id: z5j7lt0sbhsxm
                  description: Autoinvoice ID
              required:
              - autoinvoice_type
              - autoinvoice_id
      tags:
      - Autoinvoices for receipts
  /autoinvoice/update:
    post:
      summary: Update autoinvoice details
      operationId: post-update
      responses:
        '200':
          description: OK
      x-stoplight:
        id: 3eqngvlfldu2n
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: 6w6tbk8s4pzd8
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: g6ebqpk2qqy1j
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: 7ped52thnfzzz
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: yi76f9jjbpffb
                  description: Password
                autoinvoice_type:
                  type: string
                  x-stoplight:
                    id: 0aypr90worjbo
                  description: Autoinvoice type (ch for cheques|cc for credit-card)
                autoinvoice_id:
                  type: integer
                  x-stoplight:
                    id: mtfhro6ly2z5p
                  description: Autoinvoice ID
                date2issue:
                  type: string
                  x-stoplight:
                    id: el3zn8u7atsxw
                  description: Date to issue (specific date)
                  format: date
                detail_line:
                  type: string
                  x-stoplight:
                    id: gry71zygnhkpe
                  description: Autoinvoice item description
                user_id:
                  type: integer
                  x-stoplight:
                    id: ifn50gslgroob
                  description: Issuer user ID
                income_type_id:
                  type: integer
                  x-stoplight:
                    id: 4ryile61xa3ny
                  description: Income type ID
                tax_exempt:
                  type: boolean
                  x-stoplight:
                    id: j13pxzsxiaqha
                  description: Tax exempt?
                  default: true
              required:
              - autoinvoice_type
              - autoinvoice_id
      tags:
      - Autoinvoices for receipts
  /autoinvoice/cancel:
    post:
      summary: Cancel autoinvoice
      operationId: post-cancel
      responses:
        '200':
          description: OK
      x-stoplight:
        id: 05q2nsdyxbjlw
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: 9ztjgccic8wyq
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: 022l1vmo0qs7a
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: fn4diaow4yqcv
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: yl3k4h5pnf0z0
                  description: Password
                autoinvoice_type:
                  type: string
                  x-stoplight:
                    id: zcmlvzq60ij6f
                  description: Autoinvoice type (ch for cheques|cc for credit-card)
                autoinvoice_id:
                  type: integer
                  x-stoplight:
                    id: 0w58djchssei1
                  description: Autoinvoice ID
              required:
              - autoinvoice_type
              - autoinvoice_id
      tags:
      - Autoinvoices for receipts
  /bank/get_list:
    post:
      summary: Get list of banks
      operationId: post-get_list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    api:
                      version: 3
                      tz: 2
                      ts: 1699275692.2857
                      lang: he
                      rid: 831617640
                      module: bank
                      method: get_list
                    status: true
                    reason: OK
                    banks:
                      '1': אחר
                      '4': יהב
                      '6': אדנים למשכנתאות
                      '7': הבנק למסחר
                      '9': בנק הדואר
                      '10': לאומי
                      '11': דיסקונט
                      '12': הפועלים
                      '13': אגוד
                      '14': אוצר החייל
                      '17': מרכנתיל דיסקונט
                      '20': מזרחי-טפחות
                      '22': Citibank N.A
                      '23': HSBC Bank plc
                      '25': BNP Paribas Israel
                      '26': יובנק
                      '31': הבינלאומי
                      '34': ערבי ישראלי
                      '39': SBI State Bank of India
                      '46': מסד
                      '50': מרכז סליקה בנקאי (מס"ב)
                      '52': פועלי אגודת ישראל
                      '54': בנק ירושלים
                      '59': שירותי בנק אוטומטיים
                      '65': חסך קופת חסכון לחינוך
                      '68': מוניציפל בנק
                      '77': לאומי למשכנתאות
                      '89': בנק פלסטין
                      '90': דיסקונט למשכנתאות
                      '99': בנק ישראל
                      '99785': Paybox Wallet
                      '99786': Bit Wallet
                      '99787': SEB Bank
                      '99788': American Business Bank
                      '99789': PNC
                      '99790': First Commerce bank
                      '99791': Revolut
                      '99792': Silvergate
                      '99793': Monzo
                      '99794': Bendura Bank AG
                      '99795': Quds
                      '99796': Housing Bank
                      '99797': Amazon
                      '99798': BNB
                      '99799': Zions First National Bank
                      '99800': Pacific Western
                      '99801': United Business
                      '99802': Cross river
                      '99803': Security Service Federal Credit Union
                      '99804': Eaglebank
                      '99805': Pictet
                      '99806': PKO Bank Polski
                      '99807': Citibank NY
                      '99808': VALYUZ
                      '99809': Banco Popolare Soc. Coop
                      '99810': UniCredit
                      '99811': UniCredit Bulbank
                      '99812': Paxum
                      '99813': MUFG Union Bank, N.A.
                      '99814': Industrial Bank Co.
                      '99815': Bank Hapoalim B.M.
                      '99816': Georgia Primary Bank
                      '99817': Bank of China
                      '99818': Nationwide Building Society
                      '99819': Hughes Federal Credit Union
                      '99820': Raiffeisenbank (Bulgaria) EAD
                      '99821': Regions Bank
                      '99822': Lombard Odier
                      '99823': Interactive Brokers
                      '99824': National Australia Bank
                      '99825': Arab Islamic Bank
                      '99826': iCard AD
                      '99827': SchoolsFirst FCU
                      '99828': Transferwise - copy
                      '99829': Belmont Bank & Trust Co
                      '99830': TransferWise
                      '99831': EFG
                      '99832': First National Bank
                      '99833': Farmers & Merchants Bank
                      '99834': Bank of Georgia
                      '99835': Bank of Cyprus
                      '99836': Postbank BG
                      '99837': Piraeus Bank Bulgaria SA
                      '99838': Moneynetint
                      '99839': Commerzbank
                      '99840': Merrill Lynch
                      '99841': Sterling National Bank
                      '99842': La Caixa
                      '99843': Commercial Bank of California
                      '99844': Nordea Bank
                      '99845': ING Bank
                      '99846': Bank of Texas
                      '99847': Apple Bank for Savings
                      '99848': i-Account
                      '99849': KeyBank National
                      '99850': CIC Lyonnaise de banque
                      '99851': UW Credit Union
                      '99852': Rietumu Banka
                      '99853': Coinbase
                      '99854': Bank Leumi USA
                      '99855': Independent Bank
                      '99856': Jordan Commercial Bank
                      '99857': Fio banka a.s
                      '99858': Societe General
                      '99859': Huntington National Bank
                      '99860': Bank Millennium
                      '99861': BSP
                      '99862': First Direct (HSBC)
                      '99863': Sharon Credit Union
                      '99864': Unity Trust Bank
                      '99865': Sovereign Bank
                      '99866': Bank of India
                      '99867': Fulton Bank
                      '99868': Deutsche Bank Trust Co Americas
                      '99869': WMB Wilson & Muir B&T co
                      '99870': Sandia Laboratory FCU
                      '99871': First Century Bank
                      '99872': UBP
                      '99873': Valartis Bank
                      '99874': Bank of Montreal
                      '99875': Valley National Bank
                      '99876': Popular Community Bank
                      '99877': Sabadell United Bank
                      '99878': Raiffeisen Bank Romania
                      '99879': BMO Private Bank
                      '99880': American Community
                      '99881': Bridge Bank
                      '99882': Bucks County Bank
                      '99883': National Penn Bank
                      '99884': Byline Bank
                      '99885': SATA Bank
                      '99886': LCL
                      '99887': East West Bank
                      '99888': U.S Bank Miamisburg
                      '99889': Regal Bank
                      '99890': Square 1 Bank
                      '99891': Currencies Direct
                      '99892': Atlanta
                      '99893': Fidelity
                      '99894': מיטב דש טרייד
                      '99895': Navy Federal Credit Union
                      '99896': Hancock Bank
                      '99897': Credit Union
                      '99898': Country Bank
                      '99899': USAA Federal Savings Bank
                      '99900': AS Bank
                      '99901': ABLV Bank
                      '99902': BB&T
                      '99903': IBMSECU
                      '99904': D.A. Davidson & Co.
                      '99905': Mountain West Bank
                      '99906': Exchange Bank
                      '99907': Bank of the West
                      '99908': PlainsCapital Bank
                      '99909': Charles Schwab
                      '99910': Hudson Valley Bank
                      '99911': The Bank of Nova Scotia
                      '99912': Palestine Investment Bank
                      '99913': Georgia Commerce Bank
                      '99914': PayPal
                      '99915': Deutsche Bank
                      '99916': World First
                      '99917': World Bank
                      '99918': NatWest
                      '99919': Marquette Bank
                      '99920': Canada Trust
                      '99921': Volksbank
                      '99922': Payoneer
                      '99923': The Northern Trust Company
                      '99924': Comdirect
                      '99925': Entrust-Financial Credit Union
                      '99926': BankFinancial
                      '99927': Community Federal Savings Bank
                      '99928': Tatra Banka A.S
                      '99929': Banca Popolare di Milano
                      '99930': Western State Bank
                      '99931': Hellenic Bank
                      '99932': Cambridge Trust Company
                      '99933': JPMorgan Chase Bank N.A
                      '99934': The Bancorp Bank
                      '99935': Santander
                      '99936': Sandy Spring Bank
                      '99937': Wirecard Bank
                      '99938': M&T Bank
                      '99939': Sillicon Valley Bank
                      '99940': Westerra Credit Union
                      '99941': Winona National Bank
                      '99942': ABN Amro Bank
                      '99943': Poalim Swiss
                      '99944': ABN Amro Bank
                      '99945': National Bank of Canada
                      '99946': Halifax
                      '99947': Astoria Federal Savings
                      '99948': Venture Bank
                      '99949': Credit Suisse
                      '99950': UBS
                      '99951': BancFirst
                      '99952': The Berkshire Bank
                      '99953': Somerset Hilla Bank
                      '99954': The Bancrop Bank
                      '99955': First Republic Bank
                      '99956': United California Bank
                      '99957': Glen Rock Savings Bank
                      '99958': PNC Bank
                      '99959': City National Bank
                      '99960': MB FINANCIAL BANK, NA
                      '99961': First Hawaiian Bank
                      '99962': Harris Bank
                      '99963': First Republic Bank
                      '99964': Amalgamated Bank of NY
                      '99965': Royal Bank of Scotland
                      '99966': Fifth Third Bank
                      '99967': The Bank of New York
                      '99968': SunTrust
                      '99969': Cortal Consors
                      '99970': Bank Of Scotland
                      '99971': American Chartered Bank
                      '99972': Egyptian Arab Land Bank
                      '99973': LLOYDS TSB
                      '99974': Royal Bank of Canada
                      '99975': Alliant Credit Union
                      '99976': Capital One Bank
                      '99977': Canadian Imp. Bank of Commerce
                      '99978': Silicon Valley Bank
                      '99980': Barclays
                      '99981': Yorkshire Bank
                      '99982': Branch Banking & Trust Company
                      '99983': Greenfield Savings Bank
                      '99984': Frost National Bank
                      '99985': Signature Bank
                      '99986': Israel Discount Bank of NY
                      '99987': BANKINTER
                      '99988': Stellarone Bank
                      '99989': Bank of America
                      '99990': Comerica Bank
                      '99991': JPMorgan Chase
                      '99992': Highlands Bank
                      '99993': BBVA/Compass
                      '99994': Guaranty Bank
                      '99995': TD
                      '99996': USBANK
                      '99997': IBM METRO EMPLOYEES F.C.U.
                      '99998': Wells Fargo
                      '99999': Citizens S.B. of Clara city
                      '100000': Raymond James Bank
                      '100001': Wallter
                      '100002': Waterstone Bank
                      '100003': PayMe
                      '100004': BANK LEUMI (UK) PLC
                      '100005': KoalaPays
                      '100006': N26
                      '100007': מרקורי
                      '100008': Ameris
                      '100009': בלוסנאפ
                      '100010': Banco de Sabadell
                      '100011': DirectCash Bank
                      '100012': Rabobank
                      '100014': BuyMe
                      '100017': Julius Baer
                      '100020': People's United Bank
                      '100021': St. George Bank
                      '100024': Corestone
                      '100027': Bitcoin Wallet
                      '100030': Mizuho
                      '100033': פפר
                      '100036': REYL
                      '100039': Fédération des caisses Desjardins du Québec
                      '100042': ARAB BANK
                      '100045': Monese - PPS EU SA
                      '100048': Monese - PREPAY TECHNOLOGIES LIMITED
                      '100051': Evolve Bank and Trust
                      '100052': ibanq
                      '100055': Global Netint Uab
                      '100058': Webster Bank
                      '100059': Giftcard
                      '100060': CitiBank Australia
                      '100061': וואן זירו הבנק הדיגיטלי בע"מ
                      '100064': Capitalist
                      '100067': The National Bank
                      '100070': GLS Bank
                      '100073': UMB Bank
                      '100076': Affinity Federal Credit Union
                      '100079': National Bank Of Arizona
                      '100082': שוברים
                      '100085': IBANFLEX UK LTD
                      '100087': Raiffeisenbank
                      '100090': AstroBank
                      '100093': Maneuver LT, UAB
                      '100096': Eurobank Cyprus Ltd
                      '100097': KBC Bank
              examples:
                Example 1:
                  value:
                    api:
                      version: 3
                      tz: 2
                      ts: 1699283647.3407
                      lang: he
                      rid: 831739809
                      module: bank
                      method: get_list
                    status: true
                    reason: OK
                    banks:
                      '1': אחר
                      '4': יהב
                      '6': אדנים למשכנתאות
                      '7': הבנק למסחר
                      '9': בנק הדואר
                      '10': לאומי
                      '11': דיסקונט
                      '12': הפועלים
                      '13': אגוד
                      '14': אוצר החייל
                      '17': מרכנתיל דיסקונט
                      '20': מזרחי-טפחות
                      '22': Citibank N.A
                      '23': HSBC Bank plc
                      '25': BNP Paribas Israel
                      '26': יובנק
                      '31': הבינלאומי
                      '34': ערבי ישראלי
                      '39': SBI State Bank of India
                      '46': מסד
                      '50': מרכז סליקה בנקאי (מס"ב)
                      '52': פועלי אגודת ישראל
                      '54': בנק ירושלים
                      '59': שירותי בנק אוטומטיים
                      '65': חסך קופת חסכון לחינוך
                      '68': מוניציפל בנק
                      '77': לאומי למשכנתאות
                      '89': בנק פלסטין
                      '90': דיסקונט למשכנתאות
                      '99': בנק ישראל
                      '99785': Paybox Wallet
                      '99786': Bit Wallet
                      '99787': SEB Bank
                      '99788': American Business Bank
                      '99789': PNC
                      '99790': First Commerce bank
                      '99791': Revolut
                      '99792': Silvergate
                      '99793': Monzo
                      '99794': Bendura Bank AG
                      '99795': Quds
                      '99796': Housing Bank
                      '99797': Amazon
                      '99798': BNB
                      '99799': Zions First National Bank
                      '99800': Pacific Western
                      '99801': United Business
                      '99802': Cross river
                      '99803': Security Service Federal Credit Union
                      '99804': Eaglebank
                      '99805': Pictet
                      '99806': PKO Bank Polski
                      '99807': Citibank NY
                      '99808': VALYUZ
                      '99809': Banco Popolare Soc. Coop
                      '99810': UniCredit
                      '99811': UniCredit Bulbank
                      '99812': Paxum
                      '99813': MUFG Union Bank, N.A.
                      '99814': Industrial Bank Co.
                      '99815': Bank Hapoalim B.M.
                      '99816': Georgia Primary Bank
                      '99817': Bank of China
                      '99818': Nationwide Building Society
                      '99819': Hughes Federal Credit Union
                      '99820': Raiffeisenbank (Bulgaria) EAD
                      '99821': Regions Bank
                      '99822': Lombard Odier
                      '99823': Interactive Brokers
                      '99824': National Australia Bank
                      '99825': Arab Islamic Bank
                      '99826': iCard AD
                      '99827': SchoolsFirst FCU
                      '99828': Transferwise - copy
                      '99829': Belmont Bank & Trust Co
                      '99830': TransferWise
                      '99831': EFG
                      '99832': First National Bank
                      '99833': Farmers & Merchants Bank
                      '99834': Bank of Georgia
                      '99835': Bank of Cyprus
                      '99836': Postbank BG
                      '99837': Piraeus Bank Bulgaria SA
                      '99838': Moneynetint
                      '99839': Commerzbank
                      '99840': Merrill Lynch
                      '99841': Sterling National Bank
                      '99842': La Caixa
                      '99843': Commercial Bank of California
                      '99844': Nordea Bank
                      '99845': ING Bank
                      '99846': Bank of Texas
                      '99847': Apple Bank for Savings
                      '99848': i-Account
                      '99849': KeyBank National
                      '99850': CIC Lyonnaise de banque
                      '99851': UW Credit Union
                      '99852': Rietumu Banka
                      '99853': Coinbase
                      '99854': Bank Leumi USA
                      '99855': Independent Bank
                      '99856': Jordan Commercial Bank
                      '99857': Fio banka a.s
                      '99858': Societe General
                      '99859': Huntington National Bank
                      '99860': Bank Millennium
                      '99861': BSP
                      '99862': First Direct (HSBC)
                      '99863': Sharon Credit Union
                      '99864': Unity Trust Bank
                      '99865': Sovereign Bank
                      '99866': Bank of India
                      '99867': Fulton Bank
                      '99868': Deutsche Bank Trust Co Americas
                      '99869': WMB Wilson & Muir B&T co
                      '99870': Sandia Laboratory FCU
                      '99871': First Century Bank
                      '99872': UBP
                      '99873': Valartis Bank
                      '99874': Bank of Montreal
                      '99875': Valley National Bank
                      '99876': Popular Community Bank
                      '99877': Sabadell United Bank
                      '99878': Raiffeisen Bank Romania
                      '99879': BMO Private Bank
                      '99880': American Community
                      '99881': Bridge Bank
                      '99882': Bucks County Bank
                      '99883': National Penn Bank
                      '99884': Byline Bank
                      '99885': SATA Bank
                      '99886': LCL
                      '99887': East West Bank
                      '99888': U.S Bank Miamisburg
                      '99889': Regal Bank
                      '99890': Square 1 Bank
                      '99891': Currencies Direct
                      '99892': Atlanta
                      '99893': Fidelity
                      '99894': מיטב דש טרייד
                      '99895': Navy Federal Credit Union
                      '99896': Hancock Bank
                      '99897': Credit Union
                      '99898': Country Bank
                      '99899': USAA Federal Savings Bank
                      '99900': AS Bank
                      '99901': ABLV Bank
                      '99902': BB&T
                      '99903': IBMSECU
                      '99904': D.A. Davidson & Co.
                      '99905': Mountain West Bank
                      '99906': Exchange Bank
                      '99907': Bank of the West
                      '99908': PlainsCapital Bank
                      '99909': Charles Schwab
                      '99910': Hudson Valley Bank
                      '99911': The Bank of Nova Scotia
                      '99912': Palestine Investment Bank
                      '99913': Georgia Commerce Bank
                      '99914': PayPal
                      '99915': Deutsche Bank
                      '99916': World First
                      '99917': World Bank
                      '99918': NatWest
                      '99919': Marquette Bank
                      '99920': Canada Trust
                      '99921': Volksbank
                      '99922': Payoneer
                      '99923': The Northern Trust Company
                      '99924': Comdirect
                      '99925': Entrust-Financial Credit Union
                      '99926': BankFinancial
                      '99927': Community Federal Savings Bank
                      '99928': Tatra Banka A.S
                      '99929': Banca Popolare di Milano
                      '99930': Western State Bank
                      '99931': Hellenic Bank
                      '99932': Cambridge Trust Company
                      '99933': JPMorgan Chase Bank N.A
                      '99934': The Bancorp Bank
                      '99935': Santander
                      '99936': Sandy Spring Bank
                      '99937': Wirecard Bank
                      '99938': M&T Bank
                      '99939': Sillicon Valley Bank
                      '99940': Westerra Credit Union
                      '99941': Winona National Bank
                      '99942': ABN Amro Bank
                      '99943': Poalim Swiss
                      '99944': ABN Amro Bank
                      '99945': National Bank of Canada
                      '99946': Halifax
                      '99947': Astoria Federal Savings
                      '99948': Venture Bank
                      '99949': Credit Suisse
                      '99950': UBS
                      '99951': BancFirst
                      '99952': The Berkshire Bank
                      '99953': Somerset Hilla Bank
                      '99954': The Bancrop Bank
                      '99955': First Republic Bank
                      '99956': United California Bank
                      '99957': Glen Rock Savings Bank
                      '99958': PNC Bank
                      '99959': City National Bank
                      '99960': MB FINANCIAL BANK, NA
                      '99961': First Hawaiian Bank
                      '99962': Harris Bank
                      '99963': First Republic Bank
                      '99964': Amalgamated Bank of NY
                      '99965': Royal Bank of Scotland
                      '99966': Fifth Third Bank
                      '99967': The Bank of New York
                      '99968': SunTrust
                      '99969': Cortal Consors
                      '99970': Bank Of Scotland
                      '99971': American Chartered Bank
                      '99972': Egyptian Arab Land Bank
                      '99973': LLOYDS TSB
                      '99974': Royal Bank of Canada
                      '99975': Alliant Credit Union
                      '99976': Capital One Bank
                      '99977': Canadian Imp. Bank of Commerce
                      '99978': Silicon Valley Bank
                      '99980': Barclays
                      '99981': Yorkshire Bank
                      '99982': Branch Banking & Trust Company
                      '99983': Greenfield Savings Bank
                      '99984': Frost National Bank
                      '99985': Signature Bank
                      '99986': Israel Discount Bank of NY
                      '99987': BANKINTER
                      '99988': Stellarone Bank
                      '99989': Bank of America
                      '99990': Comerica Bank
                      '99991': JPMorgan Chase
                      '99992': Highlands Bank
                      '99993': BBVA/Compass
                      '99994': Guaranty Bank
                      '99995': TD
                      '99996': USBANK
                      '99997': IBM METRO EMPLOYEES F.C.U.
                      '99998': Wells Fargo
                      '99999': Citizens S.B. of Clara city
                      '100000': Raymond James Bank
                      '100001': Wallter
                      '100002': Waterstone Bank
                      '100003': PayMe
                      '100004': BANK LEUMI (UK) PLC
                      '100005': KoalaPays
                      '100006': N26
                      '100007': מרקורי
                      '100008': Ameris
                      '100009': בלוסנאפ
                      '100010': Banco de Sabadell
                      '100011': DirectCash Bank
                      '100012': Rabobank
                      '100014': BuyMe
                      '100017': Julius Baer
                      '100020': People's United Bank
                      '100021': St. George Bank
                      '100024': Corestone
                      '100027': Bitcoin Wallet
                      '100030': Mizuho
                      '100033': פפר
                      '100036': REYL
                      '100039': Fédération des caisses Desjardins du Québec
                      '100042': ARAB BANK
                      '100045': Monese - PPS EU SA
                      '100048': Monese - PREPAY TECHNOLOGIES LIMITED
                      '100051': Evolve Bank and Trust
                      '100052': ibanq
                      '100055': Global Netint Uab
                      '100058': Webster Bank
                      '100059': Giftcard
                      '100060': CitiBank Australia
                      '100061': וואן זירו הבנק הדיגיטלי בע"מ
                      '100064': Capitalist
                      '100067': The National Bank
                      '100070': GLS Bank
                      '100073': UMB Bank
                      '100076': Affinity Federal Credit Union
                      '100079': National Bank Of Arizona
                      '100082': שוברים
                      '100085': IBANFLEX UK LTD
                      '100087': Raiffeisenbank
                      '100090': AstroBank
                      '100093': Maneuver LT, UAB
                      '100096': Eurobank Cyprus Ltd
                      '100097': KBC Bank
      x-stoplight:
        id: u1cg8fflo5171
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: nnkwpuvjukgis
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: pxw62s1ts4lnd
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: dqdext1fh1jhy
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: 91rpvj3a09pp4
                  description: Password
                list_type:
                  type: string
                  x-stoplight:
                    id: 3giwalem3adzf
                  description: List type (array|object).
      description: '### 🌟 Method: bank/get_list

        What it does: This is your digital directory of banks! It’s like having all the banks in the neighborhood waving at
        you, ready to tell you all about themselves.

        How to use it: Simply send a request, and back comes a list of all the banks we can chat with. No need to play favorites
        here; you''ll get the whole lineup!'
      tags:
      - Banks list
  /bank/accounts:
    post:
      summary: Get list of company bank accounts
      operationId: post-accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example 1:
                  value:
                    api:
                      version: 3
                      tz: 2
                      ts: 1699284017.2611
                      lang: he
                      rid: 831745320
                      module: bank
                      method: accounts
                    status: true
                    reason: OK
                    bank_accounts:
                      '2':
                        account_id: 2
                        bank: 31
                        bank_name: בינלאומי
                        branch: '10'
                        account: '123456'
                        currency_id: 5
                        currency_code: ILS
                        title: 31 [10] 123456 - ILS
      x-stoplight:
        id: rjuakz4m3zqgc
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: ibgbxs375f4sn
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: m7imzde8k2hxs
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: yh4ldxrfy4g06
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: zy4gqv9kvjkvy
                  description: Password
                list_type:
                  type: string
                  x-stoplight:
                    id: wihct40i8id1b
                  description: List type (array|object).
      description: '### 🌟 Method: bank/accounts

        What it does: Want to see where your money''s hanging out? This method brings you a roll-call of all your company''s
        bank accounts. It''s like a family reunion for your finances!

        How to use it: Shoot over a request, and voilà, you’ll get the deets on every account under your company’s wing –
        think of it as a VIP backstage pass to your business''s financial show.'
      tags:
      - Banks list
  /hour_reporting/get_hour_types:
    post:
      summary: Get billable hour types
      operationId: post-get_hour_types
      responses:
        '200':
          description: OK
      x-stoplight:
        id: yqjjgu0rgh643
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: uip89joziig9i
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: gf0yyhxruk2ju
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: ex9vdgt53z7e7
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: pza91updop55z
                  description: Password
      tags:
      - Billable hours reporting
  /hour_reporting/add_hour_type:
    post:
      summary: Add hour type
      operationId: post-add_hour_type
      responses:
        '200':
          description: OK
      x-stoplight:
        id: h255i66rt4wvo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: ueom2zr5m6vgp
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: ujv0jrczztt6l
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: o0u9lgjwn3n6e
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: 2itpedupflr1s
                  description: Password
                hour_type_name:
                  type: string
                  x-stoplight:
                    id: deh04lfv3byk7
                  description: Hour type name
                hourly_rate:
                  type: number
                  x-stoplight:
                    id: 9hlbwquqjj0wc
                  format: float
                  description: Hourly rate
                client_id:
                  type: integer
                  x-stoplight:
                    id: 5sgkigmzkouc8
                  description: Client ID
                user_id:
                  type: integer
                  x-stoplight:
                    id: gpdiomcqkljns
                  description: User ID
              required:
              - hour_type_name
      tags:
      - Billable hours reporting
  /hour_reporting/update_hour_type:
    post:
      summary: Update hour type
      operationId: post-update_hour_type
      responses:
        '200':
          description: OK
      x-stoplight:
        id: jv16abzjxrhg5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: 0ld5wkspjbhsg
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: zto28n5wr3drl
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: gztc5mf9vy1fo
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: s2b98bv1w6igx
                  description: Password
                hour_type_id:
                  type: integer
                  x-stoplight:
                    id: c7y0sh74fs47w
                  description: Hour type id
                client_id:
                  type: integer
                  x-stoplight:
                    id: e6yv0v8z033qh
                  description: Client ID
                user_id:
                  type: integer
                  x-stoplight:
                    id: smy8f7oor378i
                  description: User ID
                hour_type_name:
                  type: string
                  x-stoplight:
                    id: flpzxlmf2naf6
                  description: Hour type name
                hourly_rate:
                  type: number
                  x-stoplight:
                    id: fjqhskygiqtsb
                  format: float
                  description: Hourly rate
              required:
              - hour_type_id
      tags:
      - Billable hours reporting
  /hour_reporting/delete_hour_type:
    post:
      summary: Delete hour type
      operationId: post-delete_hour_type
      responses:
        '200':
          description: OK
      x-stoplight:
        id: rjkrz5sp7ocfy
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: 7m5rt4v9r7t5f
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: xvn3hj1v4wgdc
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: ob4zke5uj3wz1
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: ms875v3w1llf0
                  description: Password
                hour_type_id:
                  type: integer
                  x-stoplight:
                    id: ug9ll84v6s6ir
                  description: Hour type id
              required:
              - hour_type_id
      tags:
      - Billable hours reporting
  /hour_reporting/add_activity:
    post:
      summary: Add activity
      operationId: post-add_activity
      responses:
        '200':
          description: OK
      x-stoplight:
        id: c61mamyo3wxhr
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: auu0baiaaqc88
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: lw3kssojiqqb9
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: wjmc9fhwnjoh3
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: fyefbnj2ois0h
                  description: Password
                client_id:
                  type: integer
                  x-stoplight:
                    id: ocwb66smkx8bi
                  description: Client ID
                custom_client_id:
                  type: string
                  x-stoplight:
                    id: 2xiu5c5zl51j2
                  description: Custom Client ID (from external system)
                vat_id:
                  type: number
                  x-stoplight:
                    id: 1zfgh76r0w6pw
                  description: Client VAT ID
                email:
                  type: string
                  x-stoplight:
                    id: 9jix2oqued6or
                  description: Client email
                client_name:
                  type: string
                  x-stoplight:
                    id: d6n0o756xkdzy
                  description: Client name
                project_id:
                  type: integer
                  x-stoplight:
                    id: 9pohcy0h0z8ov
                  description: Project ID (relevant only if project_management module is enabled)
                user_id:
                  type: integer
                  x-stoplight:
                    id: k044buq54itld
                  description: User ID of the employee.
                activity_date:
                  type: string
                  x-stoplight:
                    id: 2shvultszm2ef
                  format: date
                  description: Activity date (ISO).
                start_ts:
                  type: string
                  x-stoplight:
                    id: h2jh92gkb6pw7
                  format: timestamp
                  description: Activity start timestamp (ISO)
                end_ts:
                  type: string
                  x-stoplight:
                    id: nsm2ip5ricxx1
                  format: timestamp
                  description: Activity start timestamp (ISO)
                start_lat:
                  type: number
                  x-stoplight:
                    id: t84ox4o7aiaj1
                  format: float
                  description: Start latitude
                start_lon:
                  type: number
                  x-stoplight:
                    id: 3acj9neirzy1r
                  format: float
                  description: Start longitude
                end_lat:
                  type: number
                  x-stoplight:
                    id: 0ozkml0skroyh
                  format: float
                  description: End latitude
                end_lon:
                  type: number
                  x-stoplight:
                    id: phm3x57tx5h8s
                  format: float
                  description: End longitude
                hour_type_id:
                  type: integer
                  x-stoplight:
                    id: 6w6m2nfa8nh18
                  description: Hour type ID
                total_hours:
                  type: integer
                  x-stoplight:
                    id: aum0v3p4dw67a
                  description: Number of hours for activity
                activity_description:
                  type: string
                  x-stoplight:
                    id: wcerjoo02kzsr
                  description: Activity description
                expense_sum:
                  type: number
                  x-stoplight:
                    id: 9qpzri943wu4w
                  format: float
                  description: Expense sum
                expense_currency_id:
                  type: integer
                  x-stoplight:
                    id: tm249bgrac8c6
                  description: Currency ID
                expense_currency_code:
                  type: string
                  x-stoplight:
                    id: 2zltt61e0r1sw
                  description: Currency Code (ISO-4217)
                expense_description:
                  type: string
                  x-stoplight:
                    id: dh23k63h8z13q
                  description: Expense description
              required:
              - hour_type_id
              - total_hours
      tags:
      - Billable hours reporting
  /hour_reporting/get_activities:
    post:
      summary: Get activities list
      operationId: post-get_activities
      responses:
        '200':
          description: OK
      x-stoplight:
        id: n2defxmk9lyie
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: begj4ivza8mdv
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: 1q2lz83qu99kc
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: gplo49ybob9va
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: lnl03v954c91j
                  description: Password
                start_date:
                  type: string
                  x-stoplight:
                    id: 0xc4j2dxoujkr
                  format: date
                  description: Start date.
                end_date:
                  type: string
                  x-stoplight:
                    id: tf99r1u2j20mj
                  format: date
                  description: End date.
                all_users:
                  type: boolean
                  x-stoplight:
                    id: 54pwekp0jy6gp
                  description: Get activities for all users (admin only).
                user_id:
                  type: integer
                  x-stoplight:
                    id: xnvlsi6pabxl3
                  description: Get activities for specific user (admin only).
                client_id:
                  type: integer
                  x-stoplight:
                    id: fz1fi9nlf2sm7
                  description: Get activities for specific client.
                split_days:
                  type: boolean
                  x-stoplight:
                    id: ykyogm3r8douu
                  description: Get daily summary.
      tags:
      - Billable hours reporting
  /hour_reporting/update_activity:
    post:
      summary: Update activity
      operationId: post-update_activity
      responses:
        '200':
          description: OK
      x-stoplight:
        id: hcqw1mhysii06
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  x-stoplight:
                    id: 48tt5pezik9el
                  description: Session ID
                cid:
                  type: string
                  x-stoplight:
                    id: 4kno6h3l3hhrh
                  description: Company identifier
                user:
                  type: string
                  x-stoplight:
                    id: gy1nk270zx98d
                  description: Username
                pass:
                  type: string
                  x-stoplight:
                    id: trs4t3yfo454j
                  description: Password
                activity_id:
                  type: integer
                  x-stoplight:
                    id: 1oxveyopk53u2
                  description: Activity ID
                client_id:
                  type: integer
                  x-stoplight:
                    id: wdw3odo5l8o5d
                  description: Client ID
                custom_client_id:
                  type: string
                  x-stoplight:
                    id: tv6itmur1za6x
                  description: Custom Client ID (from external system)
                vat_id:
                  type: number
                  x-stoplight:
                    id: 886h0e3wkk5f7
                  description: Client VAT ID
                email:
                  type: string
                  x-stoplight:
                    id: ia1rsmrs7afxe
                  description: Client email
                client_name:
                  type: string
                  x-stoplight:
                    id: nwqigc7yafzbk
                  description: Client name
                project_id:
                  type: integer
                  x-stoplight:
                    id: 7zu5sexeky3te
                  description: Project ID (relevant only if project_management module is enabled)
                activity_date:
                  type: string
                  x-stoplight:
                    id: 1nb2b5phxawsi
                  format: date
                  description: Activity date (ISO)
                start_ts:
                  type: string
                  x-stoplight:
                    id: 8t6dux5hxumpn
                  format: timestamp
                  description: Activity start timestamp (ISO)
                end_ts:
                  type: string
                  x-stoplight:
                    id: iixlwmh7yqrhv
                  format: timestamp
                  description: Activity start timestamp (ISO)
                start_lat:
                  type: number
                  x-stoplight:
                    id: t0uykw8k4del2
                  format: float
                  description: Start latitude
                start_lon:
                  type: number
                  x-stoplight:
                    id: lr8cf5i1sxr7k
                  format: float
                  description: Start longitude
[...]
